@import url('http://fonts.cdnfonts.com/css/geometos');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

body{
background-color: #1a1a1aff;
padding: 50px;
line-height: 1.5; 
user-drag: none; 
user-select: none;
transition: 0.5s;
}

#nomecurso{
font-size: 30px;
font-family: 'Geometos', sans-serif;
color: #ccccccff;
}

#nomeaula{
font-size: 30px;
font-family: 'Geometos', sans-serif;
color: #ccccccff;
}

#capacurso img{
width: 200px;
margin-right: 20px;
}

#descaula{
margin-left: 20px;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
text-align: justify;
color: #ccccccff;
}

#descaula img{
opacity: 0.7;
transition: 0.2s;
}

#descaula img:hover{
opacity: 1.0;
transition: 0.2s;
}

#desccurso{
font-family: 'Montserrat', sans-serif;
font-size: 20px;
text-align: justify;
color: #ccccccff;
}

#aulas{
font-size: 20px;
font-family: 'Montserrat', sans-serif;
color: white;
background-color: #242424;
margin-top: 30px;
margin-bottom: 30px;
border-radius: 15px;
padding: 20px;
}

#aulas a {
color: white;
text-decoration: none;
}

#aulas a:visited {
color: white;
font-weight: bold;
}

#g1{
display: flex;
padding-top: 50px;
padding-bottom: 50px;
}

#g2{
display: column;
padding-top: 50px;
padding-bottom: 50px;
}

#youtubehere{ 
border-radius: 5px 5px 5px 5px;
}

#preencher{
font-family: 'Montserrat', sans-serif;
font-size: 20px;
color: #ccccccff;
width: 300px;
text-align: justify;
}

#preencher a{
text-decoration: none;
color: #ccccccff;
}

#titulof{
font-size: 30px;
font-family: 'Geometos', sans-serif;
color: #ccccccff;
text-align: justify;
width: 350px;
}

#texto{
font-family: 'Castoro', serif;
font-size: 30px;
color: black;
position: fixed;
top: 130px;
left: 0px;
z-index: 2;
width: 1018px;
text-align: center;
}

#backcert{
position: fixed;
top: 0px;
left: 0px;
z-index: 1;
}

.titucert{
font-size: 180%;
}

#cod{
color: #ffffff;
font-size: 80%;
text-align: left;
position: fixed;
top: 680px;
left: 5px;
z-index: 3;
text-shadow: 0.1em 0.1em 0.2em black;
}

#preview{
width: 1018px;
height: 800px;
transform: scale(0.6);
top: 50px;
left: 0px;
}

#btGerarPDF{
font-family: 'Montserrat', sans-serif;
width: 500px;
font-size: 30px;
background-color: #39ad98; 
transform: translateX(50%);
}

#dados{
margin-left: 20px;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
text-align: justify;
color: white;
}

#dados a {
text-decoration: none;
color: white;
}

#dados a:visited {
text-decoration: none;
color: white;
}

.help{
margin-left: 20px;
margin-right: 20px;
font-family: 'Montserrat', sans-serif;
font-size: 25px;
text-align: justify;
color: white;
margin-top: 40px;
margin-bottom: 40px;
}

.help a{
text-decoration: none;
color: white;
}

.help a:visted {
text-decoration: none;
color: white;
}

#ajudamenu{
font-family: 'Montserrat', sans-serif;
font-size: 30px;
color: #ccccccff;
text-align: justify;
}

#ajudamenu a{
text-decoration: none;
color: #ccccccff;
}

.download a{
text-decoration: none;
color: white;
}

.download{
text-align: center;
border: 2px solid white;
}




@media only screen and (max-width: 415px) {
    body{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    }

    #capacurso img{ 
    width: 100%;
    margin-bottom: 15px;
    }

    #descaula img{ 
    width: 45%;
    margin-bottom: 10px;
    }

    #descaula{ 
    font-size: 11px;
    padding-right: 17px;
    }

    #g1{    
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    }

    #desccurso{
    font-size: 13px;
    }

    #aulas{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    }

    #preencher{
    width: 80%;
    font-size: 15px;
    }

    #youtubehere{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
    }

    #dados{
    font-size: 12px;
    }


    #nomecurso{
    font-size: 18px;
    font-family: 'Geometos', sans-serif;
    color: #ccccccff;
    text-align: center;
    }

    #nomeaula{
    font-size: 14px;
    font-family: 'Geometos', sans-serif;
    color: #ccccccff;
    }

    .help{
    font-size: 12px;
    }

    #ajudamenu{
    font-size: 15px;
    }

}
