@import url('http://fonts.cdnfonts.com/css/geometos');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

body{
background-color: #1a1a1aff;
padding: 50px;
line-height: 1.5; 
user-drag: none; 
user-select: none;
}

#nomecurso{
font-size: 30px;
font-family: 'Geometos', sans-serif;
color: #ccccccff;
}

#nomeaula{
font-size: 30px;
font-family: 'Geometos', sans-serif;
color: #ccccccff;
}

#capacurso img{
width: 200px;
margin-right: 20px;
}

#descaula{
margin-left: 20px;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
text-align: justify;
color: #ccccccff;
}

#descaula img{
opacity: 0.7;
transition: 0.2s;
}

#descaula img:hover{
opacity: 1.0;
transition: 0.2s;
}

#desccurso{
font-family: 'Montserrat', sans-serif;
font-size: 20px;
text-align: justify;
color: #ccccccff;
}

#aulas{
font-size: 20px;
font-family: 'Geometos', sans-serif;
color: #ccccccff;
}

#aulas a {
color: #00ff66ff;
text-decoration: none;
}

#aulas a:visited {
color: #ffe680ff;
}

#g1{
display: flex;
padding-top: 50px;
padding-bottom: 50px;
}

#g2{
display: column;
padding-top: 50px;
padding-bottom: 50px;
}

#youtubehere{ 
border-radius: 5px 5px 5px 5px;
}

#preencher{
font-family: 'Montserrat', sans-serif;
font-size: 20px;
color: #ccccccff;
width: 300px;
text-align: justify;
}

#preencher a{
text-decoration: none;
color: #ccccccff;
}

#titulof{
font-size: 30px;
font-family: 'Geometos', sans-serif;
color: #ccccccff;
text-align: justify;
width: 350px;
}

#texto{
font-family: 'Castoro', serif;
font-size: 30px;
color: black;
position: fixed;
top: 130px;
left: 0px;
z-index: 2;
width: 1018px;
text-align: center;
}

#backcert{
position: fixed;
top: 0px;
left: 0px;
z-index: 1;
}

.titucert{
font-size: 180%;
}

#cod{
color: #ffffff;
font-size: 80%;
text-align: left;
position: fixed;
top: 680px;
left: 5px;
z-index: 3;
text-shadow: 0.1em 0.1em 0.2em black;
}

#preview{
width: 1018px;
height: 800px;
transform: scale(0.6);
top: 50px;
left: 0px;
}

#btGerarPDF{
font-family: 'Montserrat', sans-serif;
width: 500px;
font-size: 30px;
background-color: #39ad98; 
transform: translateX(50%);
}

#dados{
margin-left: 20px;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
text-align: justify;
color: white;
}

#dados a {
text-decoration: none;
color: white;
}

#dados a:visited {
text-decoration: none;
color: white;
}

body{
transition: 0.5s;
}
